<div class="container-fluid scLogin">
    <div class="scLoginHeader">
        <img src="./public/images/market/scLoginLogo.png"/>

        <p>eTeacher管理平台</p>
    </div>

    <div class="scLoginBody">
        <div class="scLoginBox">
            <form>

                <p><span style="padding-left:14px; ">用户名&nbsp:</span><input type="text" class="login-input"
                                                                            ng-model="sc_telephone"/></p>

                <p><span style="padding-left:28px; ">密码&nbsp:</span><input type="password" class="login-input"
                                                                           ng-model="sc_pwd"/></p>
                <img ng-src="./public/images/login/login-button.png" class="login-button"
                     ng-click="SClogin()"/>
            </form>
            <p class="scLoginLabel">©上海思才信息技术有限公司</p>
        </div>
    </div>
</div>


