<div class="container-fluid mySchedule">
    <div class="navbar-fixed-top">
        <div class="topnav clearfix">
            <span class="pull-left"><a href='#/JyDefault'>教师管理</a><img src="./public/images/jiaoyan/iconfont-right.png"><a>教师课程日历</a></span>
            课程安排
        </div>
    </div>
    <div class="navbar-fixed-top fixtop">
        <div class="col-xs-2 Cal1">
            <span class="calendar_title">日历</span>
        </div>
        <div class="col-xs-2">
            <div class="row">
                8:00<br/>－<br/>9:30
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row">
                10:30<br/>－<br/>12:00
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row">
                13:30<br/>－<br/>15:00
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row">
                16:00<br/>－<br/>17:30
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row">
                18:30<br/>－<br/>20:00
            </div>
        </div>
    </div>
    <div class="row schedulelist" ng-repeat="week in weeks" ng-class="{today:($index==7)}">
        <div class="col-xs-2 weekdate">
            <div class="row" >
                <div ng-class="{circle_blue:($index==7)}"> <span class="week_title" ng-bind="week.week">
               </span><br/><span class="date_title" ng-bind="week.date"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-2 weektime" ng-repeat="item in week.time_content">
            <div class="row">
            <span ng-show="item.time_busy == 0"
                  ng-bind="item.teacher_entry_state" ng-click="apply(item)"></span>
                <span ng-show="item.time_busy == 1" ng-bind="item.user_name" ng-click="apply(item)"></span><br/>
                <span ng-show="item.time_busy == 1" ng-bind="item.class_content" ng-click="apply(item)" ></span>
            </div></div>
    </div>
    <div class="navbar-fixed-bottom fixbottom">
        <div class="col-xs-12" ng-click="goTody()">
            回到今天
        </div>
    </div>
</div>