<div class="default">
    <header><img src="./public/images/default/eTeacher.png"></header>
    <div class="cat container">
        <div class="row">
            <div class="col-xs-2 ">
                <a href="javascript:;" ng-click="renshi()">
                    <img src="./public/images/default/renshi.png" class="image"/>
                    <p>人事系统</p>
                </a>
            </div>
            <div class="col-xs-2"><a href="#/SCmanage">
                <img src="./public/images/default/shichang.png" class="image"/>
                <p>市场系统</p></a>
            </div>
            <div class="col-xs-2"><a href="#/JyDefault">
                <img src="./public/images/default/jiaoyan.png" class="image"/>
                <p>教研系统</p></a>
            </div>
            <div class="col-xs-2"><a href="javascript:;" ng-click="xingzheng()">
                <img src="./public/images/default/xingzheng.png" class="image"/>
                <p>行政系统</p></a>
            </div>
            <div class="col-xs-2 ">
                <a href="javascript:;" ng-click="kefu()">
                    <img src="./public/images/default/kefu.png" class="image"/>
                    <p>销售系统</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 ">
                <a href="javascript:;" ng-click="chanpin()">
                      <img src="./public/images/default/chanpin.png" class="image"/>
                      <p>产品体验系统</p>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="javascript:;" ng-click="caiwu()">
                    <img src="./public/images/default/caiwu.png" class="image"/>
                    <p>财务系统</p>
                </a>
            </div>
            <div class="col-xs-2">
                <a href='#/topManageSystem'>
                    <img src="./public/images/default/gaoguan.png" class="image"/>
                    <p>高管系统</p>
                </a>
            </div>
        </div>
        <br/><br/>
    </div>
    <footer>1.2</footer>
</div>
