<div class="container-fluid scLogin">
    <div class="scLoginHeader">
        <img src="./public/images/market/scLoginLogo.png"/>

        <p>eTeacher管理平台</p>
    </div>
    <!--<div class="modal fade bs-example-modal-lg"  id="selectCity" tabindex="-1" role="dialog"-->
         <!--aria-labelledby="myLargeModalLabel" aria-hidden="true">-->
        <!--<div class="modal-dialog modal-lg">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal"><span-->
                            <!--aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                    <!--<h4 class="modal-title">创建</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--选择城市-->
                    <!--<select ng-model="selectCity" ng-options="c as c for c in city">-->
                        <!--<option></option>-->
                     <!--</select>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal"-->
                            <!--ng-click="gotoDefault()">确认-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="scLoginBody">
        <div class="scLoginBox">
            <form>
                <p><span style="padding-left:14px; ">用户名&nbsp:</span><input type="text" class="login-input" ng-model="telephone"/></p>
                <p><span style="padding-left:28px; ">密码&nbsp:</span><input type="password" class="login-input"
                                                                           ng-model="pwd"/></p>
                <img ng-src="./public/images/login/login-button.png" class="login-button"
                     ng-click="login()"/>
            </form>
            <p class="scLoginLabel">©上海思才信息技术有限公司</p>
        </div>
    </div>
</div>


