*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Î¢ÈíÑÅºÚ";
}
.header{
    background: #a6d9f4;
    height: 174px;
    width: 100%;
}
.header .img{
     text-align: center;
     margin: 45px 0  25px 639px;
 }
.header .p{
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: -58px;
    font-family:"Microsoft YaHei",Î¢ÈíÑÅºÚ,"MicrosoftJhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu;

}
article{
    background-color: #f4f3f1;
    width: 100%;
    height: 490px;
    padding-top: 52px;
}


article header{
    clear: both;
    margin:0  0 0 481px;
    background: url("../images/login/form-bg.png") no-repeat;
    width: 630px;
    height: 400px;
    padding: 0;

}
article header .left{
    float: left;
    width:382px;
    height: 198px;
    margin-top: 2em;
}
article header .left p{

    color: #8b8b8b;
    font-size: 12px;
    font-family:"Microsoft YaHei",Î¢ÈíÑÅºÚ,"MicrosoftJhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu;
    margin: 1.5em 0 0 3em;
}
article header .left .p1{

    color: #8b8b8b;
    font-size: 16px;
    font-family:"Microsoft YaHei",Î¢ÈíÑÅºÚ,"MicrosoftJhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu;
    text-align: center;
    margin-top: 6em;
}
article header .left .login-form .editorpwd{
    color: #8b8b8b;
    font-size: 12px;
    font-family:"Microsoft YaHei",Î¢ÈíÑÅºÚ,"MicrosoftJhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu;
    margin: 4.5em 0 0 3em;
}
article header .login-form  .login-input{
    margin-left: 1em;
    width:170px ;
    border-radius: 3px;
    border: 1px solid #aeaeae;
    background: #f0f0f0;
    line-height: 35px;
    font-size: 18px;
    text-align: center;
}
article header .left .login-button{
    float: right;
    margin-right: 2.5em;
    margin-top: -6.5em;
}
article header .login-form .p-margin{
    margin-left: 4em;
}
article header .login-form  .p1-margin{
    margin-left: -1em;
}
article header .login-form .select{
    margin-left: 1em;
}


article header .login-form .login-input1{
    margin-left: 1em;
    width: 80px;
    border-radius: 3px;
    border: 1px solid #aeaeae;
    background: #f0f0f0;
    line-height: 25px;
}
article header .login-form .verify{
    margin-left: 2em;
}
